<select id="setting-{{ setting.key }}"
        class="form-control config-input"
        data-original-value="{{ setting.current_value }}"
        data-has-custom-value="{{ setting.has_custom_value ? '1' : '0' }}"
        {% if isEditable is defined and not isEditable %}disabled{% endif %}>
    {% for option in setting.options %}
        <option value="{{ option.value }}"
                {% if (setting.has_custom_value and setting.current_value == option.value) or (not setting.has_custom_value and setting.inherited_value == option.value) %}selected{% endif %}>
            {{ option.label }}
        </option>
    {% endfor %}
</select>
